@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;900&display=swap");
.search-group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 15px;
}

.search-input {
  border: 0;
  border-bottom: 2px solid white;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  font-weight: 500;
}
.search-input::placeholder {
  color: transparent;
}
.search-input:placeholder-shown ~ .search-label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.search-label {
  position: absolute;
  letter-spacing: 0.1rem;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: white;
}

.search-input:focus {
  font-weight: 500;
  padding-bottom: 6px;
  border-width: 3px;
}
.search-input:focus ~ .search-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: white;
  font-weight: 500;
}

.search-input:required, .search-input:invalid {
  box-shadow: none;
}

.btn-main {
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  text-transform: capitalize;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: all 0.3s linear;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.btn-main:hover {
  background-color: white;
  color: hsl(197deg, 37%, 24%);
}

.container-cities .cities {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  max-width: 1340px;
}
.container-cities .cities .city {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid white;
  color: white;
  padding: 1rem;
  width: 300px;
  position: relative;
}
.container-cities .cities .city::after {
  content: " ";
  background-color: transparent;
  display: block;
  top: 7%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: -20px;
  border-radius: 20px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
.container-cities .cities .city .card-city {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-cities .cities .city .card-city h2 {
  font-size: 2rem;
  font-weight: 200;
}
.container-cities .cities .city .card-city .card-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}
.container-cities .cities .city .card-city .card-info .city-temp {
  font-size: 3rem;
}
.container-cities .cities .city .card-city .card-info .city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.container-cities .cities .city .card-city figcaption {
  font-size: 1.5rem;
  font-weight: 100;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  background-color: hsl(197deg, 37%, 24%);
  background: linear-gradient(to bottom, #274C60, #606476);
  display: flex;
  color: white;
  flex-direction: column;
  align-items: flex-start;
  font-family: "brando-sans", sans-serif;
  min-height: 100vh;
  height: 100%;
}

header {
  align-self: center;
  text-align: center;
}

h1 {
  font-family: "Cairo", sans-serif;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  margin: 3rem;
  font-size: 3rem;
  font-style: normal;
  font-weight: 100;
  color: #E4E5E6;
  text-shadow: #1f1f1f 2px 2px 5px;
}

.search-bar {
  align-self: center;
}
.search-bar form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 2rem;
  position: relative;
}
.search-bar form .msg {
  position: absolute;
  bottom: -45px;
  left: 0;
  max-width: 600px;
  min-height: 40px;
  font-size: 1rem;
}

.container-bar {
  margin-top: 1rem;
}

.ajax-section {
  margin: 4rem 2rem;
  align-self: center;
}

footer {
  align-self: center;
  margin-top: auto;
  min-height: 30px;
  font-style: italic;
  font-weight: 100;
  color: rgb(209, 210, 210);
}




/*# sourceMappingURL=/styles.b61e60ae.css.map */